body {
   background-color: rgb(166, 189, 247);
   color: rgb(158, 7, 246);
}

nav {
   height: 6000px;
   width: 200px;
   float: left;
   padding: 5px;
   line-height: 30px;
}

footer {
   text-align: center;
   margin-right: 200px;
}

header {
   text-align: center;
}

.lrgbutton {
   width: 200px;
   height: 30px;
   background-color: rgb(242, 211, 163);
border-radius: 15px;
border-color: rgb(253, 4, 4);
}